li {
    display: grid;
    justify-content: center;
    align-items: center;
}
.div_superior{
    background-color: #eee8aa;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 40px;
}
.div_interno{
    background-color: #399ed8;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}
.ul1 {
    display: grid;
    grid-template-columns: 110px 40px 1030px 110px;
    grid-template-rows: 50px;
}
.ul2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px;
}
.container__card{
    width: 95%;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card{
    width: 190px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description{
    width: 100%;
    height: 100px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 20px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info__description button{
    margin-top: 20px;
    padding: 10px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description input:hover{
    box-shadow: 1px 1px 30px -5px #20202070;
}


/*COLOR DE LAS CARD*/

.c1:hover .icon{
    background: #e9e51b;
}

.c2:hover .icon{
    background: #cadb2f;
}

.c3:hover .icon{
    background: #146EB0;
}

.c4:hover .icon{
    background: #10a323;
}

.c5:hover .icon{
    background: #db2222;
}

/* CSS EVALUACIONES */
.cc1:hover .icon{
    background: #919191;
    
}
.cc2:hover .icon{
    background: #919191;
    
}
.cc3:hover .icon{
    background: #919191;
    
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}