li {
    display: grid;
    justify-content: center;
    align-items: center;
}
.div_superior{
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}
.div_interno{
    background-color: #399ed8;
    border-radius: 15%;
    border-width: 1px;
    border-style: solid;
}
.ul1 {
    display: grid;
    grid-template-columns: 110px 40px 1030px 120px;
    grid-template-rows: 50px;
}
.ul2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px;
}

/* From Uiverse.io by JohnnyCSilva */ 
.contenedor{
    padding-top: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: lightgray;
    padding: 30px;
    width: 600px;
    border-color: black;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  
.form button {
    align-self: flex-end;
}  
.flex-column > label {
    color: #151717;
    font-weight: 600;
}  
.inputForm {
    border: 2px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}  
.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
}  
.input:focus {
    outline: none;
}  
.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}  
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}  
.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}  
.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}  
.button-submit {
    margin: 20px 0 10px 0;
    background-color: #399ed8;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 40%;
    cursor: pointer;
}  
.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}  
.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: #399ed8;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}  
.btn:hover {
    border: 1px solid #2d79f3;
    ;
}