.div_superior{
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}
.div_interno{
    border-radius: 15%;
    border-width: 1px;
    border-style: solid;
}
.contenedor{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 40px;
}
.paises ul + ul {
    margin-top: -25px;
}
.paises{
    margin-bottom: 70px;
}
.h1-inferior{
    text-align: left;
}
.h3-inferior{
    text-align: center;
}

.ul1 {
    display: grid;
    grid-template-columns: 110px 40px 1030px 120px;
    grid-template-rows: 50px;
}
.ul2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px;
}
.ul-intro{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px;
}
.ul-banderas-paises{
    display: grid;
    grid-template-columns: 200px 300px 200px 300px 200px;
    grid-template-rows: 50px;
}
.ul-nombres-paises{
    display: grid;
    grid-template-columns: 200px 300px 200px 300px 200px;
    grid-template-rows: 50px;
}

.btn{
    flex-direction: column;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
    height: 50px;
    width: 90%;
    cursor: pointer;
}  
.img{
    border-radius: 5%;
}

li {
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
h3{
    text-align: justify;
}